<div *ngIf="loaded">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" xmlns:cursor="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/">Self education</a>
    <button class="navbar-toggler" data-toggle="collapse"
            data-target="#navSupportedContent"
            aria-controls="navSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
            <a dropdownToggle (click)="false" class="nav-link" style="cursor: pointer"
            >Courses</a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="basic-link" (click)="onCoursesClickHandler($event)">
              <li *ngFor="let choice of course">
                  <a class="dropdown-item" routerLink="/{{choice.courseName | lowercase}}">{{choice.courseName}}</a>
              </li>
            </ul>
          </span>
        </li>

        <li class="nav-item ">
          <a class="nav-link" routerLink="/about">Features</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" routerLink="/aboutProg">About project</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input name="searchQuery" type="search" [(ngModel)]="searchQuery" class="form-control mr-sm-2 border-dark"
               placeholder="Search by students" aria-label="Search"
               [class.hide]="!(user$ | async) || (user$ | async).role === 'USER'">
        <button class="btn btn-outline-primary myBtn"
                style="margin-right: 20px"
                [class.hide]="!(user$ | async)  || (user$ | async).role === 'USER'"
                (click)="loadSearchResults(templateNested)">Search</button>

        <button *ngIf="!(user$ | async)" type="reset"
                class="btn btn-outline-primary my-2 my-sn-0 myBtn"
                (click)="openModal(template)">
          Log in
        </button>
        <strong [style.color]="'#ffffff'"
                *ngIf="user$| async as user">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button"
                    class="btn btn-outline-primary dropdown-toggle myBtn"
                    aria-controls="dropdown-basic"
            style="margin-right: 10px">
              {{user.login}}
              <span class="caret"></span>
            </button>
<!--          </div>-->

            <ul id="dropdown-animated"
                *dropdownMenu class="dropdown-menu"
                role="menu"
                aria-labelledby="button-animated">
              <li role="menuitem" [class.text-hide]="(user$ | async).role === 'ADMIN'">
                <a class="dropdown-item" [class.disabled]="(user$ | async).role === 'ADMIN'" routerLink="/profile">
                  My profile</a>
              </li>
              <li role="menuitem" [class.text-hide]="(user$ | async).role === 'USER'">
                <a class="dropdown-item" [class.disabled]="(user$ | async).role === 'USER'" routerLink="/groups">
                  Groups</a>
              </li>
              <li role="menuitem" [class.text-hide]="(user$ | async).role === 'ADMIN'">
                <a class="dropdown-item" [class.disabled]="(user$ | async).role === 'ADMIN'" routerLink="/sub">
                  My subscriptions</a>
              </li>
              <li role="menuitem" [class.text-hide]="(user$ | async).role === 'USER'">
                <a class="dropdown-item" [class.disabled]="(user$ | async).role === 'USER'" routerLink="/courses">
                  Reports</a>
              </li>
            </ul>
          </div>
          <button class="btn btn-outline-primary myBtn" (click)="logout()">Log out</button>
        </strong>

        <ng-template #template>
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title pull-left"
                  style="margin: auto; padding-left: 20px">
                Authorization
              </h4>
              <button type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form [formGroup]="loginForm">
                  <div class="form-froup m-3">
                    <label>Login*</label>
                    <input autofocus
                           name="login"
                           placeholder="Login"
                           class="p-2"
                           formControlName="userLogin"
                           #login required minlength="3" maxlength="16">
                  </div>
                  <div class="form-froup m-3">
                    <label>Password*</label>
                    <input type="Password"
                           name="password"
                           placeholder="Password"
                           class="p-2"
                           formControlName="userPassword"
                           #password required minlength="6" maxlength="16">
                    <small id="passwordHelp"
                           class="form-text text-muted">
                      Password must be from 6 to 16 characters
                    </small>
                  </div>
                  <a routerLink="/">
                    <button
                      [disabled]="!loginForm.valid || !login?.value?.trim().length || !password?.value?.trim().length"
                      class="btn btn-outline-primary my-2 my-sn-0"
                      style="margin-right: 10px; margin-left: 80px;"
                      (click)="getUserInfo(login.value, password.value)">
                      Login
                    </button>
                    <hr>
                    <h6 *ngIf="unauthorizedError" style="color: red; text-align: center; cursor: default">
                    {{unauthorizedError}}
                  </h6>
                  </a>
                </form>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #templateNested>
          <div class="modal-header">
            <h4 class="modal-title pull-left" style="text-align: center"> Search result</h4>
            <button type="button"
                    class="close pull-right"
                    aria-label="Close"
                    (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <div *ngIf="notNull; else noCoincidence">
                <div *ngIf="!notNull; else userSearch">
                </div>
                </div>
                <ng-template #userSearch>
                    <h6 class="page-link" *ngFor="let result of users"
                        style="margin-top: 20px; text-align: center; color: mediumslateblue"
                       (click)="showUserPage(result)">
                      {{result.surname}}
                      {{result.name}}
                      {{result.patronymic}}
                    </h6>
                </ng-template>
              <ng-template #noCoincidence>
                <input class="form-control-plaintext" value="No result!">
              </ng-template>
              <hr class="mb-2">
            </table>
          </div>
        </ng-template>
      </form>
    </div>
  </nav>
</div>


