<div class="container" id="sharp" *ngIf="isSharp">
  <form>
    <div class="container-fluid mt-5" style="background-color: lavender">
      <div class="container p-5">
        <div class="row justify-content-center">
          <div class="col col-lg-10" >
            <div class="card text-center mt-5">
              <div class="card-body" >
                <h1 class="card-title pricing-card-title" style="margin-bottom: 50px; margin-top: 20px">
                  С# Tutorial
                </h1>
                <hr>
                <div>
                <img class="btn " src="assets\img\base.png" alt="">
                </div>
                <h5>Base concept</h5>
                <div class="row justify-content-center">
                  <div class="col">
                    <div>
                      <img class="btn" src="assets\img\infinity.png" alt="">
                    </div>
                    <h5>Conditionals & Loops</h5>
                  </div>
                  <div class="col">
                    <div>
                      <img class="btn" src="assets\img\sh.png" alt="">
                    </div>
                    <h5>Methods</h5>
                  </div>
                </div>
                <div>
                  <img class="btn " src="assets\img\inheritance.png" alt="">
                </div>
                <h5>Classes & Objects</h5>
                <div class="row justify-content-center">
                  <div class="col">
                    <div>
                      <img class="btn" src="assets\img\shapes.png" alt="">
                    </div>
                    <h5>Arrays & Strings</h5>
                  </div>
                  <div class="col">
                    <div>
                      <img class="btn" src="assets\img\more2.png" alt="">
                    </div>
                    <h5>More on Classes</h5>
                  </div>
                </div>
                <div>
                  <img class="btn " src="assets\img\U.png" alt="">
                </div>
                <h5>Generics</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
