<app-carousel></app-carousel>
<div class="container-fluid mt-5" style="background-color: lavender">
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\lang\C++.png" alt="" class="card-img-top">
          <hr>
          <div class="card-body">
            <h4 class="card-title">C++</h4>
            <p class="card-text">Start your journey by learning C ++. You just have to click on the "Go"
              button and we will help you plunge into the wonderful world of programming.</p>
            <hr>
            <a class="btn btn-outline-primary"
               routerLink="/c++">Go</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\about\csharp.svg" alt="" class="card-img-top">
          <hr>
          <div class="card-body">
            <h4 class="card-title">C#</h4>
            <p class="card-text">Do you want to continue to learn languages of the C family?
              Then we prepared for you fascinating lessons in C #.</p>
            <hr>
            <a class="btn btn-outline-primary"
               routerLink="/c#">Go</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center">
          <img src="assets\img\lang\java.png" alt="" class="card-img-top">
          <hr>
          <div class="card-body">
            <h4 class="card-title">Java</h4>
            <p class="card-text">Feel that C is not for you? Choose Java.
              This is a fairly simple and popular language.
              Having studied Java, you can easily find a job!</p>
            <hr>
            <a class="btn btn-outline-primary"
               routerLink="/java">Go</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\lang\python.png" alt="" class="card-img-top">
          <hr>
          <div class="card-body">
            <h4 class="card-title">Python</h4>
            <p class="card-text">Strive for the stars and have a desire to pump yourself? Python is what you need!
              This language is supported by such IT giants as
              Google, Dropbox Microsoft, Yandex, Facebook,
              Intel and many many others.</p>
            <hr>
            <a class="btn btn-outline-primary"
               routerLink="/python">
              Go
            </a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\lang\js2.png" alt="" class="card-img-top">
          <hr>
          <div class="card-body">
            <h4 class="card-title">JavaScript</h4>
            <p class="card-text">Isn't the backend yours? Then JavaScript!
              JavaScript is one of the most popular programming languages,
              and front-end development is considered one of the easiest ways to start a career in IT.</p>
            <hr>
            <a class="btn btn-outline-primary"
               routerLink="/javascript">Go</a>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="card text-center mt-5">
          <img src="assets\img\lang\PHP.png" alt="" class="card-img-top">
          <hr>
          <div class="card-body">
            <h4 class="card-title">PHP</h4>
            <p class="card-text">PHP is not a dying tongue!
              PHP is an interpreted language with dynamic typing.
              It is mainly used for developing web applications.
              Popular engines for websites and frameworks are written in this language.</p>
            <hr>
            <a class="btn btn-outline-primary"
               routerLink="/php">Go</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
