<div class="pricing-header px-3 py-3 pt-md-5 p-md-4 mx-auto text-center">

  <h1 class="display-4"  style="margin-bottom: 35px">Groups</h1>
  <alert type="info">
    <h3>Read this!</h3>
    <p>Here are all the groups that are assigned to you. You can create a new group or student.</p>
      <button  class="btn btn-outline-primary" tabindex="0" style="margin-right: 15px" routerLink="/constructor">Create a new group</button>
      <button  class="btn btn-outline-primary" tabindex="0" routerLink="/registration">Create a new student</button>
  </alert>
</div>

<div class="container">
  <tabset>
    <tab *ngFor="let choice of groups" heading="group {{choice.groupName}}"
                   (select)="students($event, choice.idGroup)" active>
      <h5 class="page-link" *ngFor="let studChoice of users"
          style="margin-top: 20px; text-align: center; color: mediumslateblue"
          routerLink="/groups/studentPage/:{{studChoice.idStudent}}">
        {{studChoice.surname}}
        {{studChoice.name}}
        {{studChoice.patronymic}}
      </h5>
    </tab>
  </tabset>
</div>


