<div class="col-md-5  p-lg-4 mx-auto my-4">
  <h1 class="aboutSubscription">Self education</h1>
</div>

<div class="col">
  <div class="row">
    <div class="aboutSubscriptionText">
      <h2>About project</h2>
      <br>
      <ul>
        <li>Created by Valeria Semenenya 28TP</li>
        <br>
        <li>College of Electronics</li>
        <br>
        <li>2020</li>
      </ul>

    </div>
    <div class="col">
      <img class="img" src="assets\img\book.png"  alt="">
    </div>
  </div>
</div>

