.subButton {
  position: absolute;
  bottom: 14px;
  left: 0;
  text-align: center;
  width: 100%;
}

.card-body {
  padding-bottom: 50px;
}

.description-container {
  height: 100%;
}

.description {
  margin-bottom: 30px;
}

.pagin {
  display: flex;
  justify-content: center;
}

.card-img-top{
  margin-left: 60px;
  height: 200px;
  width: 200px;
}

.btn{
  height: 40px;
  width: 120px;
  font-size: 18px;
}
