<carousel class="img">
  <slide>
    <img src="assets\img\it.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets\img\it-2.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets\img\it-3.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets\img\it-4.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets\img\it-5.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
