<carousel>
  <slide class="embed-responsive embed-responsive-16by9">
<!--    <iframe src="assets\video\Why Programming Is Important.mp4"-->
<!--            class="embed-responsive-item" allowfullscreen> </iframe>-->
    <video controls autoplay >
      <source src="assets\video\Why Programming Is Important.mp4" type="video/mp4">
    </video>
  </slide>
<!--  <slide>-->
<!--    <img src="assets\img\7.jpg" alt="first slide" style="display: block; width: 100%;">-->
<!--  </slide>-->
<!--  <slide>-->
<!--    <img src="assets\img\1.jpg" alt="second slide" style="display: block; width: 100%;">-->
<!--  </slide>-->
<!--  <slide>-->
<!--    <img src="assets\img\5.jpg" alt="third slide" style="display: block; width: 100%;">-->
<!--  </slide>-->
<!--  <slide>-->
<!--    <img src="assets\img\3.jpg" alt="third slide" style="display: block; width: 100%;">-->
<!--  </slide>-->
<!--  <slide>-->
<!--    <img src="assets\img\6.png" alt="third slide" style="display: block; width: 100%;">-->
<!--  </slide>-->
</carousel>
