<div class="wrapper pageLayout hasSidebar Dynamic">
  <div class="content">

    <div class="dynamicPageInfo block">
      <h1>Features<br> &nbsp;</h1>
      <p><img style="margin: 0px 16px 16px 8px;" src="http://www.sololearn.com/images/features_1.png" alt="Crowd-Learning" width="80" height="80" align="left"></p>
      <p class="featuresTitle">Crowd-Learning</p>
      <p>Learning has never been this
        social and accessible for so many! Bit-sized
        lessons and fun practice sessions grab your
        attention and keep you focused, for guaranteed
        best results!<br><br></p>
      <p><img style="margin: 0px 16px 16px 8px;" src="http://www.sololearn.com/images/features_2.png" alt="Learn by Doing" width="80" height="80" align="left"></p>
      <p class="featuresTitle">Learn by Testing</p>
      <p>Practice during lessons, practice between lessons,
        practice whenever you can. Master the task,
        then reinforce and test your knowledge with
        fun interactive quizzes.<br><br></p>
      <p><img style="margin: 0px 16px 16px 8px;" src="http://www.sololearn.com/images/features_3.png" alt="Unbound Learning" width="80" height="80" align="left"></p>
      <p class="featuresTitle">Unbound Learning</p>
      <p>Don’t limit yourself!
        Now there are no limits – no more set
        locations, time, or pace! You decide
        where, when, and how quickly you’ll
        learn, and you can do it anytime,
        anywhere, on any device.<br><br></p>
      <p><img style="margin: 0px 16px 16px 8px;" src="http://www.sololearn.com/images/features_4.png" alt="Learn while Playing" width="80" height="80" align="left"></p>
      <p class="featuresTitle">Learn while Playing</p>
      <p>Learning should be fun.
        Develop your profile, unlock each level,
        earn skill points and achievements, and
        challenge yourself by passing the tests.<br><br></p>
    </div>


  </div>

</div>
