<div class="pricing-header px-3 py-3 pt-md-5 p-md-4 mx-auto text-center">
  <div class="row text-center">
    <div class="col">
      <img src="{{product.img}}" alt="" class="w-50">
    </div>
    <div class="col">
      <h1 class="display-4" style="margin-top: 110px; margin-left: -150px">{{product.productName}}</h1>
      <button class="btn btn-outline-info" >Subscribe</button>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid mt-3">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <img src="assets\img\scs.png" alt="" class="w-50">
        <h1>Description:</h1>
        <p class="lead">{{product.description}}</p>
        <h2 class="card-title pricing-card-title">
          Price: {{product.price}}
          <img src="assets\img\coin.png" alt="" width="50" height="50">
        </h2>
        <hr>
      </div>
    </div>
  </div>
</div>
