<div class="pricing-header px-3 py-3 pt-md-5 p-md-4 mx-auto text-center">
  <h1 class="display-4" >{{test.testName}}</h1>
  </div>

<div class="container-fluid mt-5 " style="background-color: lavender;" >
  <div class="container p-5 ">
    <div class="row justify-content-center">
      <div class="col col-lg-4 description" >
        <div class="card text-center mt-5 description-container" style="padding-top: 20px;"
             *ngFor="let item of questions;  let index = index">
          <h5>{{item.text}}</h5>
          <hr>
          <div [ngClass]="rightAnswers && ((rightAnswers?.isRight[index]) ? '_green' : '_red')">
          <div class="card-body text-left border-dark" *ngFor="let choice of item.answers">
            <label for="radioButton">
            <input type="radio"  id="radioButton"
                   name="{{item.idQuestion}}" value="{{choice.answerText}}"
                   [disabled]="rightAnswers"
                   (change)="onChange(item.idQuestion, choice.idAnswer)">
            {{choice.answerText}}</label>
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
<!--</div>-->



            <!--              <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"-->
            <!--                   role="dialog" aria-labelledby="dialog-child-name">-->
            <!--                <div class="modal-dialog modal-sm">-->
            <!--                  <div class="modal-content">-->
            <!--                    <div class="modal-header">-->
            <!--                      <h4 id="dialog-child-name" class="modal-title pull-left">Error</h4>-->
            <!--&lt;!&ndash;                      <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">&ndash;&gt;-->
            <!--&lt;!&ndash;                        <span aria-hidden="true">&times;</span>&ndash;&gt;-->
            <!--&lt;!&ndash;                      </button>&ndash;&gt;-->
            <!--                    </div>-->
            <!--                    <div class="modal-body">-->
            <!--                      You are short of money. Top up your balance!-->
            <!--                    </div>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pricing-footer px-3 py-3 pt-md-5 p-md-4 mx-auto text-center">
  <a *ngIf="questions">
    <button class="btn btn-outline-success"
            [disabled]="userAnswers.size < questions.length || rightAnswers"
            (click)="finishPassing(); openModal(template)">
      Finish
    </button>
  </a>

  <ng-template #template>
    <div class="modal-header">
                      <h4 class="modal-title pull-left">You have passed the test!</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
      <p class="lead"
         *ngIf="rightAnswers?.mark">
        You answered {{rightAnswers.mark}} questions correctly
        out of {{test.questionNumber}}.
      Save the result ?</p>
      <div>
        <button class="btn btn-outline-success"
                style="width: 70px!important; height: 40px !important;
                        font-size: 16px" (click)="saveResult(rightAnswers.mark, test.idTest); modalRef.hide()">Yes!</button>

        <button class="btn btn-outline-danger"
                style="width: 70px!important; height: 40px !important;
                        font-size: 16px; margin-left: 85px !important" (click)="modalRef.hide()">No!</button>
      </div>
    </div>
  </ng-template>
</div>

