<div class="container">
  <form>
    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>


    <label for="inputName" class="sr-only">Name</label>
    <input id="inputName" class="form-control" placeholder="Name" #nameField="ngModel" required autofocus
           [(ngModel)]="name" name="name" pattern="[A-Za-zА-Яа-яЁё]{3,16}" minlength="3" maxlength="16">
    <div [hidden]="nameField.valid || nameField.untouched || !nameField?.value?.trim().length" class="alert alert-danger">
      Incorrect Name
    </div>

    <label for="inputSurname" class="sr-only">Surname</label>
    <input id="inputSurname" class="form-control" placeholder="Surname" #surnameField="ngModel"
           required [(ngModel)]="surname"
           name="surname" pattern="[A-Za-zА-Яа-яЁё]{3,25}" minlength="3" maxlength="25">
    <div [hidden]="surnameField.valid || surnameField.untouched || !surnameField?.value?.trim().length" class="alert alert-danger">
      Incorrect Surname
    </div>

    <label for="inputPatronymic" class="sr-only">Patronymic</label>
    <input id="inputPatronymic" class="form-control" placeholder="Patronymic" #patronymicField="ngModel"
           required [(ngModel)]="patronymic"
           name="patronymic" pattern="[A-Za-zА-Яа-яЁё]{3,25}" minlength="3" maxlength="25">
    <div [hidden]="patronymicField.valid || patronymicField.untouched || !patronymicField?.value?.trim().length" class="alert alert-danger">
      Incorrect Patronymic
    </div>

    <form method="post">
      <p>
<!--        <label>-->
          <select size="1"  class="form-control"
                   #groupField="ngModel" required
                   [(ngModel)]="idGroup"  name="hero">
            <option value="undefined" disabled selected hidden>Choose group</option>
            <option [value]="choice.idGroup" *ngFor="let choice of groups" >{{choice.groupName}}</option>
          </select>
<!--        </label>-->
      </p>
      <div [hidden]="groupField.valid || groupField.untouched" class="alert alert-danger">
        Missing Group
      </div>
    </form>

    <h2 *ngIf="unauthorizedError" style="color: red; text-align: center; cursor: default">
      {{unauthorizedError}}
    </h2>

    <label for="inputLogin" class="sr-only">Login</label>
    <input type="login" id="inputLogin" class="form-control" placeholder="Login" #loginField="ngModel" required [(ngModel)]="login"
           name="log" minlength="3" maxlength="16">
    <div [hidden]="loginField.valid || loginField.untouched || !loginField?.value?.trim().length" class="alert alert-danger">
      Incorrect Login
    </div>

    <button
      [disabled]="!nameField.valid || !surnameField.valid || !patronymicField.valid || !groupField.valid || !loginField.valid"
      class="btn btn-lg btn-primary btn-block"
      type="reset"
      (click)="saveStudent(information, template)">
      Save
    </button>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Successful!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Student saved successfully!</p>
        <p> Do you want to stay on this page and create another new student?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="margin-right: 165px" (click)="bsModalRef.hide()" routerLink="/groups">No</button>
        <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Yes</button>
      </div>
    </ng-template>


    <p class="mt-5 mb-3 text-muted" style="margin-left: 80px">&copy; 2020-2021</p>
  </form>
</div>

